<template>
  <v-app>
    <div>Welcome, {{user[1]}} <a @click="logout" style="padding-left:20px;font-style:italic">Logout</a></div>
    <form id="apply" v-if="user[1] != 'Admin System'">
    <h3>Holiday application</h3>
        <span id="quota"> {{ bal }} </span>

      <div>
        <label for="">Start date</label>
        <input type="text" placeholder="click to select start date" 
        @click="trigModal" v-model="startDate" 
        :class="{ err : !check }"
        readonly slot="activator">
      </div>

      <div>
        <label for="">End date</label>
        <input type="text" placeholder="click to select end date" 
        :class="{ err : !check }" 
        @click="trigModal2" v-model="endDate" 
        readonly slot="activator">
      </div>
      <div>
        <!-- <span v-if="checkdate1">Start date is in the past</span>
        <span v-if="checkdate2">End date is in the past</span> -->
      </div> 
      <!-- <div>
          <input ref="check" value="range" type="checkbox" id="limitDates" @click="limitDates()"> 
        <label for="limitDates">
        Limit dates</label>
      </div> {{min}} -->
      <span v-if="!check">date sequence is invalid</span>
      <p v-if="noDates" class="err">Pls select both dates</p>
      <section>
        <label for="">Reason / Comment</label>
        <textarea name="" id="" cols="70" rows="5" v-model="reason">
        </textarea>
      </section>
      <div>
        <a @click="validate">Submit</a> <a @click="reset">Reset</a>
      </div>
      <!-- <a @click="test">toggle</a> -->
    </form>
    <div v-if="submitted" class="modalBg">
      <div class="modal">
        <form>
          <i class="material-icons right action" @click="close">clear</i>
          <div>Holiday application submmited for:
          </div>
            <section>
              <p>
                <span>Start:</span><span> {{ popDate }} </span>
              </p>
              <p>
                <span>End:</span> <span> {{ popDate2 }} </span>
              </p>
              
            </section> 
        </form>

      </div>
    </div>
<!-- HIDDEN VUETIFY ELEMENTS     -->

    <v-layout row wrap>
      <v-flex xs12 sm6 md4>
        <v-dialog
          ref="dialog"
          v-model="modal"
          :return-value.sync="date"
          
          
          full-width
          width="290px"
        >
          <!-- <v-text-field
            slot="activator"
            v-model="date"
            label="Picker in dialog"
            prepend-icon="event"
            readonly
          ></v-text-field> -->
            <!-- :min="today" -->
           <!-- :min="min" -->
            <!-- :allowed-dates="allowedDates" -->
          <v-date-picker v-model="date" 
            color="secondary"
            header-color="secondary"
        :min="min"
            scrollable
            >
            <v-spacer></v-spacer>
            <v-btn flat color="secondary" @click="modal = false">Cancel</v-btn>
            <v-btn flat color="secondary" @click="$refs.dialog.save(date)">OK</v-btn>
          </v-date-picker>
        </v-dialog>
      </v-flex>    

      <v-flex xs12 sm6 md4>
          <!-- persistent
          lazy -->
        <v-dialog
          ref="dialog2"
          v-model="modal2"
          :return-value.sync="date2"
          full-width
          width="290px"
        >
          <!-- <v-text-field
            slot="activator"
            v-model="date2"
            label="Picker in dialog"
            prepend-icon="event"
            readonly
          ></v-text-field> -->
          <!-- min="2018-07-15" -->
          <v-date-picker v-model="date2" 
            :min="min"
            color="secondary"
            header-color="secondary"
            scrollable
          >
            <v-spacer></v-spacer>
            <v-btn flat color="secondary" @click="modal2 = false">Cancel</v-btn>
            <v-btn flat color="secondary" @click="$refs.dialog2.save(date2)">OK</v-btn>
          </v-date-picker>
        </v-dialog>
      </v-flex>    

    </v-layout>
    
  </v-app>
</template>

<script>
import {bus} from '../main'
export default {
  data() {
    return ({
      user: '',
      min: '',
      date: '',
      date2: '',
      reason: '',
      menu: false,
      modal: false,
      modal2: false,
      dateSeq: true,
      comment: '',
      holiday: [],
      bal: '',
      noDates: false, 
      submitted: false,
      checkdate1: false,
      checkdate2: false
      // popDate: '',
      // popDate2: ''
    })
  },
  created() {
    this.setMin()

    if(bus.getStore('holiday')) {
      this.holiday = bus.parseStore('holiday')
      // return
    }

    this.user = bus.parseStore('user')
    let d = new Date(Date.now())
    // this.min = this.myMin()
    console.log(this.min)
    console.log(this.myMin)
    console.log(typeof (this.myMin))
    const users = bus.parseStore('users')
    for(let u of users) {
      if(u.username === this.user[0]) {
        this.bal = 'Remaining quota: [' + u.quota + ']'
        bus.setStore('users', users)
      }
    }  

    this.reason = '... submitted on ' + bus.now()
  },
  mounted() {
    bus.log(this.today, 'from mounted')
    bus.log(this.date < this.today)
    // setTimeout(() => {
    //   this.min = this.myMin
    //   bus.log('min value changed')
    // }, 4500);
  },
  watch: {
    reload(){}
  },
  computed: {
    // allowedDates(val) {
    //   // val <= this.today
    // },
    reload() {
      // bus.log(bus.update++)
    },
    popDate() {
      return this.formatDate(this.date)
    },
    popDate2() {
      return this.formatDate(this.date2)
    },
    startDate() {
      if(!this.date) return null
      this.checkStart()
      return this.formatDate(this.date)
    },
    endDate() {
      if(!this.date2) return null
      this.checkEnd()
      return this.formatDate(this.date2)
    },
    today() {
      const [day, month, year] = new Date().toLocaleDateString().split('/')
      return `${year}-${month}-${day}`
    },
    myMin() {
      let d = new Date(Date.now())
      // bus.log(d, 'this is today')
      // bus.log(d.toLocaleDateString(), 'this is today')
      const [day, month, year] = d.toLocaleDateString().split('/')
      return `${year}-${month}-${day}`
    },
    check() { // return false if date sequence is wrong
      if(this.date === '' || this.date2 === '') return true
      return this.date <= this.date2
    } 
  },
  methods: {
    allowedDates(val) {
      parseInt(val.split('-')[2], 10) % 2 === 0
    },
    checkStart() {
      if (this.date < this.today) {
        this.checkdate1 = true
        return
      }
      this.checkdate1 = false
    },
    checkEnd() {
      if (this.date2 < this.today) {
        this.checkdate2 = true
        return
      }
      this.checkdate2 = false
    },
    limitDates() {
      const d = new Date().toLocaleDateString()
      const [day, month, year] = d.split('/')
      // return `${year}-${month}-${day}`      
      if(this.$refs.check.checked === true) {
        // console.log(this.$refs.check.value)
        this.min = `${year}-${month}-${day}`      
        // this.min = '2018-07-20'      
        return
       }
       this.min = '2018-07-15'
       console.log('not checked')
      // this.min = `${year}-${month}-${day}`      
      // console.log(this.min)
    },
    setMin() {
      let d = new Date().getDate()
      if(d < 10) d = "0" + d
      console.log(d)
      let m = new Date().getMonth() + 1;
      if(m < 10) m = "0" + m
      let y = new Date().getFullYear()
      this.min = y + '-' + m + '-' + d
      console.log(this.min)
    },    
    trigModal() {
      this.checkdate1 = false
      this.modal = true
      this.noDates = false
    },
    trigModal2() {
      this.checkdate2 = false
      this.modal2 = true
      this.noDates = false
    },
    logout() {
      bus.access = false
      bus.removeStore('access')
    },
    close() {
      this.submitted = false
      this.reset()
    },
    validate() {
      if (this.date === '' && this.date2 === '') {
        this.noDates = true
        return
      }
        this.submit()
        // this.popDate = this.startDate
        // this.popDate2 = this.endDate
    },
    submit() {
      this.submitted = true    
      let hid
      if(bus.getStore('holiday')) {
        hid = bus.parseStore('holiday').length + 1
      } else { hid = 1}
      let status = '<i class=\'material-icons\'>access_time</i>'
      this.holiday.push({
          username: bus.parseStore('user')[0],
          name: bus.parseStore('user')[1],
          start: this.date,
          end: this.date2,
          status,
          reason: this.reason,
          hid,
          plus: false,
          minus: true
        })
      bus.setStore('holiday', this.holiday)
      bus.update++
      this.update()  
    },
    update() {
      const users = bus.parseStore('users')
      for(let u of users) {
        if(u.username === this.user[0]) {
          u.quota--
          this.bal = 'Remaining quota: [' + u.quota + ']'
          bus.setStore('users', users)
        }
      }  
    },
    reset() {
      this.date = ''
      this.date2 = ''
      this.reason = '... submitted on ' + bus.now()
      this.noDates = false
    },
    formatDate(date) {
      if (!date) return null
        var options = { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' };
        return new Date(date).toLocaleDateString('gb-GB', options)
    }
  }
}
</script>

<style lang="scss">
@import '../mixins';
.application--wrap {min-height:inherit;}
form#apply {
  width: 100%;
  @media (min-width: 550px) { width: 550px;}
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  div {
    display: flex;
    // justify-content: space-between;
    // justify-content: center;
    align-items: center;
    margin: 5px;
    // width: 60%;
    // @include myBorder;
    label, input {
      padding: 5px;
    }
    input {
      margin-left: 5px;
      width: 170px;
      @include myBorder;
      cursor: pointer;
    }

  }
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    textarea {
      @include myBorder;
      font: 1.1rem "Verdana";
      width: 90%;
      outline: none;
      padding: 5px;
      margin: 5px;
    }
  }
  .err {
    border-color: rgb(248, 159, 159);
    background-color: rgba(247, 224, 224, 0.562);
  }
  span {
    font-style: italic;
    color: rgb(250, 148, 148);
  }
  span#quota {
    display: flex;
    justify-content: center;
    width: 200px;
    margin: 10px auto;
    color: #000;
  }
}

.application.theme--light {
  background-color: #fff;
}

.modal section  {
  p {
    display: flex;
    margin: 0 70px;
    padding: 10px;
    justify-content: space-between;
  }
}
</style>
