<template>
    <div>
        <h2 ref="th" @click="">Welcome to Our Holiday Application System</h2>
    </div>
</template>

<script>
export default {
    data() {
        return {

        }
	},
	created() {
	},
	methods: {

	}
}
</script>
