<template>
  <div>
    <form id="login" v-if="!access">
      <div>
        <label for="">username</label>
        <input type="text" placeholder="username" v-model="user.username" @keydown="login2">
        <!-- <select>
          <option v-for="(u,i) in users" :key="i" value="u.username">{{u.username}}</option>
        </select> -->
      </div>
      <div>
        <label for="">password</label>
        <input type="password" placeholder="password" v-model="user.password" @keydown="login2">
        </div>
        <a  @click="login">Submit</a>
        <p v-if="error" style="background-color: pink">Login failed</p>
    <!-- <a @click="test">change access</a> -->
    </form>
      <div id="sample">
        <h3>Current users <span @click="reset" style="float: right;cursor:pointer">[reset to default]</span></h3>
        
        <table style="text-align:left; width:290px;margin: 10px auto;">
          <tr>
            <th>username</th>
            <th>name</th>
            <th>password</th>
          </tr>
          <tr v-for="(u,i) in users" :key="i">
            <td>{{u.username}}</td>
            <td>{{u.name}}</td>
            <td>{{u.password}}</td>
          </tr>
        </table>
        
      </div>
      <h3>Demo</h3>
      <video width="" height="" controls>
        <source src="https://nazs.net/holiday/how.mp4" type="video/mp4">
          Your browser does not support the video tag.
      </video>

      <div v-if="!consent" class="cookie">
        <section>
          <p>Cookies are used for the purpose of this demo and destroyed when the browser is closed. No personal data is used.
        <a target="_blank" href="http://www.allaboutcookies.org/">More about Cookies</a>
        
        </p>
        <p><a class="link" @click="giveConsent">Continue with cookies</a>
        </p>
        </section>
      </div>

    
  </div>
</template>

<script>
import {bus} from '../main'
export default {
  data() {
    return {
      consent: false,
      user: { username: 'staff1', password: '1111'},
      access: false,
      error: false,
      users: bus.parseStore('users')
    }
  },
  created() {
    if (!bus.getStore('cookie')) {
      bus.setStore('cookie', false)
      return
    }
    this.consent = bus.getStore('cookie')
  },
  watch: {
  },
  methods: {
    giveConsent() {
      this.consent = true
      bus.setStore('cookie', true)
    },
    login() {
      this.$router.push('/test')
      for (let user of this.users) {
        if (this.user.username === user.username && this.user.password === user.password) {
          // bus.access = true
          bus.log(bus.access = true, '44')
          this.error = false
          bus.log('login ok')
          bus.setStore('access', true)
          bus.setStore('user', [user.username, user.name])
          return
        }
        this.error = true
        bus.log(bus.update++)
      }
    },
    login2() {
      // this.user = {}
      this.error = false
    }
    ,reset() { 
      bus.clearStore()
      bus.setStore('cookie', true)
      location.reload()
    }
  }
}
</script>

<style lang="scss">
@import '../mixins';
form#login {
  width: 350px;
  padding: 10px;  
  margin: 60px auto 0;
  div {
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    label, input {
      @include myBorder;
      padding: 5px;
    }
    label {
      border-width: 0px;
    }
  }

} // form#login
div#sample {
  // font-style: italic;
  border: 1px dashed #ddd;
  font-size: 12px;
  border-radius: 7px;
  padding: 10px;
  color: #666;
  font-family: Courier;
  width: 450px;
  margin: 50px auto;
  // text-align: left;
  li {
    display: block;
  }
}
span#result {
  display: block;
}
select {
  padding: 5px;
  text-align: left;
  @include myBorder;
  width: 180px;
}
option {
  padding: 5px;
}
video {
  width: 100%;
  max-width: 640px;
  @include myBorder;
  padding: 0;
}

.cookie {
  width: 100%;
    position: fixed;
    bottom: 0;
  section {
    width: 100%;
    @media (min-width: 650px) {
      max-width: 650px;
    }
    @include myBorder;
    background-color: #ccc;
    border-color: #999;
    margin: 0 auto;
    padding: 20px;
    color: #666;
    // left: 50%;
    // right: 50%;
    // right: 0;
    a.link {
      @include links;
      margin: 10px;
    }

  }
}
</style>
