<template>
  <div>
    <h3 style="margin-top: 40px">{{staff}} Holiday Records</h3>
    <div class="table">
      <div class="row header">
        <div>Name</div>
        <div>Period</div>
        <div>Status</div>
        <div>Comment</div>
        <div v-if="user[1] === 'Admin System'">Action</div>
      </div>
      
      <div v-if="user[1] === 'Admin System'" v-for="(h, i) in holiday" :key="i" class="row">

        <div>{{h.name}}
          <!-- <br> <span>Quota</span> -->
        </div>
        <div>{{ date(h.start) }}<br>
        {{ date(h.end) }}</div>
        <div style="padding-left:10px" v-html="h.status"></div>
        <div v-html="h.reason"></div>
        
        <div v-if="h.status === '<i class=\'material-icons\'>access_time</i>' ">
          <i @click="decline(h.hid)" class="material-icons action">block</i>
          <i @click="approve(h.hid)" class="material-icons action">done</i>
        </div>
        <div v-if="h.status === '<i class=\'material-icons\'>done</i>' ">
          <i @click="decline(h.hid)" class="material-icons action">block</i>
          <i class="material-icons ">done</i>
        </div>
        <div v-if="h.status === '<i class=\'material-icons\'>block</i>' ">
          <i class="material-icons ">block</i>
          <i @click="approve(h.hid)" class="material-icons action">done</i>
        </div>
      </div>
      
      <div v-if="user[1] != 'Admin System'" v-for="(h, i) in myHoliday" :key="i" class="row">

        <div>{{h.name}}</div>
        <div>{{ date(h.start) }}
        {{ date(h.end) }}</div>
        <div style="padding-left:10px" v-html="h.status"></div>
        <div v-html="h.reason"></div>
        
      </div> 
      <!-- {{user[1]}} -->
    </div> 
      <!-- <p v-for="(u,j) in users" :key="j">
        <span v-if="u.username === user[0]">{{u.quota}}</span>
      </p> -->
      <!-- {{users}} -->
      <!-- {{myHoliday}} -->
      <!-- <hr> --> 
      {{quota}}
      <!-- {{holiday}} -->
  </div>
</template>

<script>
import { bus } from '../main'
export default {
  props: ['quota'],
  data() {
    return {
      records: [
        ['tom', '2018-07-27', '2018-07-31', '<i class="material-icons">access_time</i>'],
        ['dick', '2018-07-26', '2018-07-31', '<i class="material-icons">done</i>'],
        ['harry', '2018-07-28', '2018-07-31', '<i class="material-icons">block</i>']
      ],
      holiday: [],
      update: bus.update,
      user: bus.parseStore('user'),
      users: bus.parseStore('users'),
      staff: 'My '
    }
  },
  computed: {
    naz() {
      bus.log(bus.update++)
      if(bus.getStore('holiday')) {
        this.holiday = bus.parseStore('holiday')
      }
      // this.update = bus.update++
    },
    myHoliday() {
      return this.holiday.filter( h => {
        return h.username === this.user[0]
      })
    }
  },
  watch: {
    naz(){
      this.holiday = bus.parseStore('holiday')
      this.users = bus.parseStore('users')
      this.update = bus.update++
      alert('test')
    }
  },
  methods: {
    date(d) {
      return bus.formatDate(d)
    },
    decreaseQuota(i) {
      for (let u of this.users) {
        if(u.username === i) {
          u.quota--
        }
      }
      bus.setStore('users', this.users)
    },
    increaseQuota(i) {
      for (let u of this.users) {
        if(u.username === i) {
          u.quota++
        }
      }
      bus.setStore('users', this.users)
    },

    decline(i) {
      for(let h of this.holiday) {
        if(h.hid === i) {
          h.status = '<i class=\'material-icons\'>block</i>'
          if(h.minus === true) {
            this.increaseQuota(h.username)
          }
          h.plus = true 
          bus.setStore('holiday', this.holiday)
        }
      } 
      bus.update++
    },

    approve(i) {
      for(let h of this.holiday) {
        if(h.hid === i) {
          h.status = '<i class=\'material-icons\'>done</i>'          
          if(h.plus === true) {
            this.decreaseQuota(h.username)
          }
          h.minus = true
          bus.setStore('holiday', this.holiday)
        }
      }    
      bus.update++
    },
    pending(t, i) {
      for(let h of this.holiday) {
        if(h.holiday === i) {
          h.status = '<i class="material-icons">access_time</i>'
          bus.setStore('holiday', this.holiday)
          bus.update++
        }
      }
    }
  },
  created() {
    if (bus.getStore('holiday')) {
      this.holiday = bus.parseStore('holiday')
      // return
    }
    if (this.user[1] === 'Admin System') {
      this.staff = 'Staff '
    }
  }
}
</script>

<style lang="scss">
@import '../mixins';
// .application--wrap {min-height:inherit;}
h3 {
  // margin-top: 40px;
}
.table {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  @include myBorder;
    padding: 0;
  .row.header {
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    background-color: #d6d4d4;
    justify-content: flex-start;
  }
  .row {
    padding: 10px ;
    justify-content: flex-start;
    display: flex;
    background-color: rgb(233, 233, 233);
    &:nth-child(even) {
      background-color: #fff;
    }
    div {
      padding: 7px 0;
      display: flex;
      flex-basis: 120px;
      text-align: left;
      // border-left: 1px solid #ccc;
    }
    @media (min-width: 550px) {
      box-sizing: border-box;
      // width: 580px;
    }
  }
  @media (min-width: 550px) {
    width: 590px;
    margin: 40px auto;
  }
}
</style>
