<template>
  <div>
      <form id="users" v-if="user[1] === 'Admin System'">
      <h3>Users management</h3>
        <fieldset>
          <legend>Users management</legend>
          <div>
            <label for="">username</label>
            <input type="text" placeholder="username" v-model="addUser.username" @keydown="keydown">
          </div>
          <div>
            <label for="">name</label>
            <input type="text" placeholder="name" v-model="addUser.name" @keydown="keydown">
          </div>
          <div>
            <label for="">password</label>
            <input type="password" placeholder="password" v-model="addUser.password" @keydown="keydown">
          </div>
          <div>
            <label for="">repeat password</label>
            <input type="password" placeholder="repeat password" v-model="addUser.repeat" @keydown="keydown">
          </div>
          <p style="font-style:italic;color:grey">pre-entered passwords: 1111</p>
          <p v-if="err" style="background-color: pink">Pls fill out all fields</p>
          <p class="buttons">
            <a @click="validate">Create user</a> <a @click="reset">Reset</a>
          </p>
        </fieldset>
      </form>
      <!-- {{addUser}} -->
      <div class="modalBg" v-if="added">
        <div class="modal">
          <form style="padding: 40px ">
          <i class="material-icons right action" @click="added = false">clear</i>
            <div style="padding: 20px">
               
              <i>{{temp.name }}</i><br>
              has been added 
            </div>
            </form>
          </div>
      </div>
  </div>
</template>

<script>
import {bus} from '../main'
export default {
  data() {
    return {
      added: false,
      temp: '',
      user: bus.parseStore('user'),
      addUser: { username: '', name: '', password: '1111', repeat: '1111'},
      users: bus.parseStore('users'),
      err: false
    }
  },
  methods: {
    keydown() {
      this.err = false
    },
    reset() {
      this.addUser = { username: '', name: '', password: '1111', repeat: '1111'}
      this.err = false
    },
    validate() {
      if (this.addUser.username != '' && this.addUser.name != '' && this.addUser.password != '' && this.addUser.repeat != '') {
        this.createUser()
        return
      }
      this.err = true
      // alert('pls fill out all fields')
    },
    createUser() {
      this.temp = {
          username: this.addUser.username, 
          name: this.addUser.name, 
          password: this.addUser.password, 
          type: 'user', 
          quota: 14
        }
      this.users.push(this.temp)
      bus.setStore('users', this.users)
      this.added = true
      this.addUser = { username: '', name: '', password: '1111', repeat: '1111'}
    }
  }
}
</script>

<style lang="scss">
@import '../mixins';
form#users {
  h3 {
    padding: 20px 0;
  }
  border: 0px;
  display: flex;
  flex-direction: column;
  @include myBorder;
  fieldset {
    border: 0px;
    legend {
      text-transform: uppercase;
      text-align: left;
      // @include myBorder;
      display: none;
    }
    p.buttons {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }    
    div {
      display: flex;
      justify-content: flex-end;
      max-width: 320px;
      margin: 0 auto;
      input, label {
        @include myBorder;
        margin-bottom: 5px;
      }
      label {
        border: 0px;
      }
    }
  }
  @media (min-width: 550px) {
    width: 550px;
    // @include myBorder;
  }
}
</style>

