<template>
  <v-app>
    <h3>Vuetify playground</h3>
    <!-- <v-btn>Test button</v-btn> -->
    <div>
      <label for="">Start date:</label><input placeholder="click to choose" v-model="date" @click="trigModal">
    </div>
    <div>
      <label for="">End date:</label><input placeholder="click to choose" v-model="date2" @click="trigModal2">
    </div>


    <v-layout row wrap>
      <v-flex xs12 sm6 md4>
        <v-dialog
          ref="dialog"
          v-model="modal"
          :return-value.sync="date"
          
          
          full-width
          width="290px"
        >
          <!-- <v-text-field
            slot="activator"
            v-model="date"
            label="Picker in dialog"
            prepend-icon="event"
            readonly
          ></v-text-field> -->
            <!-- :min="today" -->
            <!-- :allowed-dates="allowedDates" -->
          <v-date-picker v-model="date" 
           :min="min"
            color="secondary"
            header-color="secondary"
            scrollable
            >
            <v-spacer></v-spacer>
            <v-btn flat color="secondary" @click="modal = false">Cancel</v-btn>
            <v-btn flat color="secondary" @click="$refs.dialog.save(date)">OK</v-btn>
          </v-date-picker>
        </v-dialog>
      </v-flex>    

      <v-flex xs12 sm6 md4>
          <!-- persistent
          lazy -->
        <v-dialog
          ref="dialog2"
          v-model="modal2"
          :return-value.sync="date2"
          full-width
          width="290px"
        >
          <!-- <v-text-field
            slot="activator"
            v-model="date2"
            label="Picker in dialog"
            prepend-icon="event"
            readonly
          ></v-text-field> -->
          <!-- min="2018-07-15" -->
          <v-date-picker v-model="date2" 
            :min="min"
            color="secondary"
            header-color="secondary"
            scrollable
          >
            <v-spacer></v-spacer>
            <v-btn flat color="secondary" @click="modal2 = false">Cancel</v-btn>
            <v-btn flat color="secondary" @click="$refs.dialog2.save(date2)">OK</v-btn>
          </v-date-picker>
        </v-dialog>
      </v-flex>    

    </v-layout>

  </v-app>
</template>

<script>
export default {
  data() {
    return ({
      date: '',
      date2: '',
      min: '2018-08-15',
      modal: false,
      modal2: false
    })
  },
  created() {
    this.setMin()
    },
  methods: {
    trigModal() {
      this.modal = true
    },
    trigModal2() {
      this.modal2 = true
    },
    setMin() {
      let d = new Date().getDate()
      if(d < 10) d = "0" + d
      console.log(d)
      let m = new Date().getMonth() + 1;
      if(m < 10) m = "0" + m
      let y = new Date().getFullYear()
      this.min = y + '-' + m + '-' + d
      console.log(this.min)
    },
    formatMonth(m){
      switch(m) {
        case 1:
        return 'Jan'; break;
        // m = 'Jan'; break;
        case 2:
        return 'Feb'; break;
        // m = 'Feb'; break;
        case 3:
        return 'Mar'; break;
        // m = 'Mar'; break;
        case 4:
        return 'Apr'; break;
        // m = 'Apr'; break;
        case 5:
        return 'May'; break;
        // m = 'May'; break;
        case 6:
        return 'Jun'; break;
        // m = 'Jun'; break;
        case 7:
        return 'Jul'; break;
        // m = 'Jul'; break;
        case 8:
        return 'Aug'; break;
        // m = 'Aug'; break;
        case 9:
        return 'Sep'; break;
        // m = 'Sep'; break;
        case 10:
        return 'Oct'; break;
        // m = 'Oct'; break;
        case 11:
        return 'Nov'; break;
        // m = 'Nov'; break;
        case 12:
        return 'Dec'; break;
        // m = 'Dec'; break;
      }      
    }
  }
}
</script>

