<template>
  <div id="app">
      <a :href="home"><i class="material-icons">home</i></a> 
    <div class="wrapper">
      <h2>Online Holiday Application Prototype</h2>
      <template v-if="!access">
          <l_ogin></l_ogin>
          <!-- <v_uetify></v_uetify> -->
      </template>
      <template v-else>
        <a_pply></a_pply>
        <s_taff></s_taff>
        <r_ecord></r_ecord>
      </template>
    </div>
    <div class="footer">
    <!-- <hr> -->
    </div>
    
    <!-- <router-view></router-view> -->
    <!-- access: {{access}} -->
  </div>
</template>

<script>
import {bus} from './main'
import h_ome from './components/home'
import l_ogin from './components/login'
import a_pply from './components/application'
import s_taff from './components/staff'
import r_ecord from './components/record'
import v_uetify from './components/vuetify'
export default {
  name: 'app',
  components: {
    h_ome, l_ogin, a_pply, s_taff, r_ecord, v_uetify
  },
  data () {
    return {
      home: 'https://nazs.net',
      msg: 'Welcome to Your Vue.js App --',
      access: bus.access,
      update: bus.update,
      url: bus.url, 
      test: true
    }
  },
  computed: {
    reload() {
      this.access = bus.access
      bus.log('changed access', 35 + ' ' + bus.now() )
    },
    naz() {
      bus.log('watch watches anything', 38 + ' ' + bus.now() )
      bus.log(this)
    },
    quota() {
      return bus.updateQuota()
    }
  },
  watch: {
    reload(){
    },
    naz(){}
    // quota(){}
  },
  created() {
    if (bus.getStore('access') ) {bus.access = bus.getStore('access') }
    if(location.hostname === 'localhost') {
      this.home = 'http://localhost:8081'
    }
    bus.log(location.hostname)
  }
}
</script>

<style lang="scss">
@import '../node_modules/vuetify/dist/vuetify.min.css';
@import './App';
</style>
