nav li span {
  display: block;
  margin-top: -5px;
  font: 12px Helvetica;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #666;
}

form#createBill input {
  width: 60px;
  text-align: center;
}

td.bill {
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  background-color: rgba(51, 51, 51, 0.089);
}

td.bill:hover {
  background-color: #999;
  color: #fff;
  -webkit-transition: .2s;
  transition: .2s;
}

form.billSummary {
  width: 95%;
  padding: 10px;
}

form.billSummary fieldset {
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 20px;
}

form.billSummary fieldset div {
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

form.billSummary fieldset div label {
  margin-top: 7px;
}

form.billSummary fieldset div select {
  width: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 7px;
  outline: none;
}

form.billSummary fieldset div select option {
  outline: none;
  border: 1px solid red;
}

form.billSummary fieldset button {
  border: 1px solid #ddd;
  margin: 5px 0;
  padding: 6px 8px;
  border-radius: 5px;
  background-color: rgba(235, 235, 235, 0.726);
  color: #666;
  outline: none;
  -webkit-transition: .1s;
  transition: .1s;
  cursor: pointer;
}

form.billSummary fieldset button:hover {
  -webkit-transition: .1s;
  transition: .1s;
  background-color: #fff;
  border: 1px solid #b9b9b9;
}

#app nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  text-align: left;
}

#app nav ul li {
  padding: 3px 5px;
}

#app nav ul li i.material-icons {
  color: gray;
  font-size: 34px;
}

#app nav ul li i.material-icons:active {
  color: #333;
}

#app #admin, #app #user {
  color: gray;
  width: 95%;
  margin: 20px auto;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#app #admin .staff, #app #user .staff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 600px) {
  #app #admin, #app #user {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 800px) {
  #app #admin, #app #user {
    width: 800px;
  }
}

#app #admin section, #app #user section {
  border: 1px solid #ddd;
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
  margin: 5px;
}

#app #admin section a, #app #user section a {
  border: 1px solid #ddd;
  margin: 5px 0;
  padding: 6px 8px;
  border-radius: 5px;
  background-color: rgba(235, 235, 235, 0.726);
  color: #666;
  outline: none;
  -webkit-transition: .1s;
  transition: .1s;
  cursor: pointer;
  color: inherit;
}

#app #admin section a:hover, #app #user section a:hover {
  -webkit-transition: .1s;
  transition: .1s;
  background-color: #fff;
  border: 1px solid #b9b9b9;
}

#app #admin section h3, #app #user section h3 {
  background-color: rgba(209, 209, 209, 0.726);
  padding: 5px;
  text-transform: uppercase;
  color: inherit;
  margin: 0;
}

#app #admin section form, #app #user section form {
  margin: 10px 0;
  padding: 10px;
}

#app #admin section form .select, #app #user section form .select {
  width: 130px;
}

#app #admin section form .select select, #app #user section form .select select {
  border: 1px solid #ddd;
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  outline: none;
}

#app #admin section form .select select option, #app #user section form .select select option {
  background-color: #fff;
  margin: 2px 0;
  outline: none;
}

#app #admin section form button, #app #user section form button {
  border: 1px solid #ddd;
  margin: 5px 0;
  padding: 6px 8px;
  border-radius: 5px;
  background-color: rgba(235, 235, 235, 0.726);
  color: #666;
  outline: none;
  -webkit-transition: .1s;
  transition: .1s;
  cursor: pointer;
  display: block;
}

#app #admin section form button:hover, #app #user section form button:hover {
  -webkit-transition: .1s;
  transition: .1s;
  background-color: #fff;
  border: 1px solid #b9b9b9;
}

#app #admin section form fieldset, #app #user section form fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  border-radius: 7px;
  border: 0px solid #ccc;
  background-color: rgba(209, 209, 209, 0.726);
  border: 1px solid #ddd;
}

#app #admin section form fieldset a.categoryNames, #app #user section form fieldset a.categoryNames {
  display: block;
  color: inherit;
  border: none;
  background-color: transparent;
}

#app #admin section form fieldset a.categoryNames:hover, #app #user section form fieldset a.categoryNames:hover {
  color: #000;
}

#app #admin section form fieldset div, #app #user section form fieldset div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#app #admin section form fieldset div span, #app #user section form fieldset div span {
  width: 50%;
}

#app #admin section form fieldset legend, #app #user section form fieldset legend {
  text-align: center;
  background-color: rgba(209, 209, 209, 0.726);
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  letter-spacing: 1px;
}

#app #admin section form fieldset input, #app #user section form fieldset input {
  margin: 5px 0;
  color: #333;
  background-color: #fff;
}

#app #admin section form fieldset input[disabled], #app #user section form fieldset input[disabled] {
  border: 0px solid;
}

::-webkit-input-placeholder {
  color: #8b8b8b;
  font-style: italic;
}

:-ms-input-placeholder {
  color: #8b8b8b;
  font-style: italic;
}

::-ms-input-placeholder {
  color: #8b8b8b;
  font-style: italic;
}

::placeholder {
  color: #8b8b8b;
  font-style: italic;
}

.select {
  padding: 7px;
  margin: 5px 0;
  background-color: rgba(230, 207, 248, 0.507);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
}

.select option {
  text-align: center;
}

#user section form#update button {
  display: inline-block;
}

#user section form#update span {
  font-style: italic;
  float: right;
  color: #f17c7c;
}

#user section form#update span:after {
  content: ' ';
  white-space: pre;
}

tr .item {
  font-size: 16px;
}

tr td .description {
  color: #727171;
}

i.material-icons {
  cursor: pointer;
}

i.material-icons.home {
  font-size: 120px;
  color: #71c7e4;
}

i.material-icons.button {
  font-size: 30px;
  color: #333;
  vertical-align: middle;
}

i.material-icons.button:hover, i.material-icons.button:focus {
  color: #000;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #616463;
  text-decoration: none;
}

a.bill {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #e7e6e6;
  display: inline-block;
  text-align: center;
  width: 40px;
}

a.bill:hover {
  background-color: #fff;
}

a.onebill {
  background-color: #1a1818;
  width: 40px;
  display: inline-block;
  text-align: center;
  color: #fff;
  margin: 0 30px;
  padding: 5px 0px;
  border-radius: 50%;
}

a.onebill:hover {
  background-color: #fff;
  color: #000;
  -webkit-transition: .2s;
  transition: .2s;
}

span.total {
  font: bold 16px Courier;
  margin-left: 10px;
}

th {
  padding: 5px;
}

td button.add {
  float: right;
  background-color: #fff;
  padding: 2px 7px;
  border-radius: 5px;
  border: 1px solid #afafaf;
  outline: none;
}

td button.add:hover {
  background-color: #d3d1d1;
}

a .material-icons:hover {
  color: #4e4ee2;
}

a .cloud {
  color: #c5840a;
}

a .cloud:hover {
  color: #e6a120;
}

td .cloud {
  font-size: 3em;
}

td.edit {
  cursor: pointer;
  width: 10px;
  border: 2px solid #ddd;
  background-color: #ece1af;
}

td.edit:hover {
  border: 2px solid #888787;
}

td.order {
  cursor: pointer;
  border: 2px solid #ddd;
}

td.order:hover {
  border: 2px solid #5c5c5c;
  -webkit-transition: .3s;
  transition: .3s;
}

table {
  text-align: left;
  width: 90%;
  margin: 20px auto;
}

@media (max-width: 600px) {
  table {
    width: 100%;
  }
}

table th {
  height: 40px;
  vertical-align: middle;
  background-color: rgba(124, 124, 124, 0.219);
}

table tr {
  background-color: #cecece;
}

table tr:nth-child(odd) {
  background-color: #ddd;
}

table td {
  padding: 10px;
}

form {
  margin-bottom: 10px;
}

form input, form textarea {
  margin: 3px 0;
  font: 13px Arial;
  padding: 7px;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

form input:focus, form textarea:focus {
  border-color: #999;
  -webkit-transition: .5s;
  transition: .5s;
}

.modal {
  position: fixed;
  top: 10%;
  width: 90%;
  height: 100%;
  max-width: 400px;
  left: 50%;
  padding: 20px;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 102;
}

.modal i:hover {
  color: red;
}

.modal form {
  background-color: #fff;
  border-radius: 5px;
}

.modalBg:before {
  content: "";
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 101;
}

.menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menus a {
  margin: 3px 0;
}

.billSelected {
  display: inline-block;
  margin: 7px 0;
}

.billSelected a {
  color: #19191a;
  background-color: #868585;
  border-radius: 5px;
  margin-left: 5px;
}

.billSelected a.router-link-active.bill {
  color: #080808;
  background-color: #7dbbf5;
  border-radius: 5px;
  margin-left: 5px;
}

h2, h3 {
  color: #8383d8;
}

h3 {
  font-weight: normal;
}

.menus {
  margin: 5px;
}

.menus a {
  color: #faf6f6;
  background-color: #8383d8;
  border-radius: 5px;
  margin-left: 5px;
  padding: 5px 12px;
}

.menus a.router-link-active {
  color: #faf6f6;
  background-color: #313180;
  border-radius: 5px;
  margin-left: 5px;
}
/*# sourceMappingURL=App.1.css.map */