* {
  -webkit-transition: .2s;
  transition: .2s;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1, h2 {
  font-weight: normal;
  margin: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

.modal {
  padding: 120px;
  position: fixed;
  top: 10%;
  width: 90%;
  height: 100%;
  max-width: 400px;
  left: 50%;
  padding: 20px;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 102;
}

.modal i:hover {
  color: red;
}

.modal form {
  background-color: #fff;
  border-radius: 5px;
}

.modal form div {
  padding: 10px;
}

.modalBg:before {
  content: "";
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 101;
}

form {
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  padding: 7px;
  margin: 10px auto;
}

form:focus {
  background-color: rgba(223, 230, 243, 0.514);
  border: 1px solid #cfe5f3;
}

form a {
  border: 1px solid #ddd;
  margin: 5px 0;
  padding: 6px 8px;
  border-radius: 5px;
  background-color: rgba(235, 235, 235, 0.726);
  color: #666;
  outline: none;
  -webkit-transition: .1s;
  transition: .1s;
  cursor: pointer;
  display: inline-block;
  margin: 5px;
}

form a:hover {
  -webkit-transition: .1s;
  transition: .1s;
  background-color: #fff;
  border: 1px solid #b9b9b9;
}

::-webkit-input-placeholder {
  font-style: italic;
}

:-ms-input-placeholder {
  font-style: italic;
}

::-ms-input-placeholder {
  font-style: italic;
}

::placeholder {
  font-style: italic;
}

i.material-icons {
  color: #666;
  font-size: 2.2em;
}

i.action {
  margin-right: 7px;
  font-size: 2.2em;
}

i.action:hover {
  cursor: pointer;
  color: #000;
}
/*# sourceMappingURL=App.css.map */