@import './mixins.scss';
// showBills
nav li span {
  display: block;
  margin-top: -5px;
  font: 12px Helvetica;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #666;
}
form#createBill input {
  width: 60px;
  text-align: center;
}
td.bill {
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  transition: .2s;
  background-color: rgba(51, 51, 51, 0.089);
  &:hover {
    background-color: #999;
    color: #fff;
    transition: .2s;
  }
}
// showBills ends

// billSummary
form.billSummary {
  // height: 400px;
  width: 95%;
  padding: 10px;
  fieldset {
    border-radius: 10px;
    border: 1px solid #ddd;
    legend {
    }
    padding: 10px;
    margin: 20px ;
    div {
      margin: 15px 0;
      display: flex;
      justify-content: space-between;
      label {
        margin-top: 7px;
      }
      select {
        width: 100px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 7px;
        outline: none;
        option {
          outline: none;
          border: 1px solid red;
        }
      }
    }
    button {
      @include links;
    }
  }
}
// billSummary ends


#app nav ul {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  align-items: left;
  text-align: left;
  li {
    // width: 100px;
    // border: 1px solid #999;
    // border-radius: 5px;
    padding: 3px 5px;
    i.material-icons {
      color: gray;
      font-size: 34px;
      &:active {
        color: #333;
      }
    }
  }
}

//admin UI


#app #admin, #app #user {
  color: rgb(128, 128, 128);
  .staff {
    display: flex;
    justify-content: space-between;
  }
  width: 95%;
  margin: 20px auto;
  text-align: left;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @media (min-width:600px) {
    flex-direction: row;
  }
  @media (min-width: 800px) {
    width: 800px
  }
  section {
    border: $border;
    flex-basis: 49%;
    margin: 5px;
    a {
      @include links;
      color: inherit;
    }
    h3 {
      background-color: $color;
      padding: 5px;
      text-transform: uppercase;
      color: inherit;
      margin: 0;
    }
    form {

      .select {
        width: 130px;
        select {
          border: 1px solid #ddd;
          padding: 5px;
          width: 100%;
          border-radius: 5px;
          outline: none;
          // color: blue;
          option {
            background-color: #fff;
            margin: 2px 0;
            outline: none;
          }
        }
      }
      button {
        @include links;
        display: block;
      }
      margin: 10px 0;
      padding: 10px;
      fieldset {
        a.categoryNames {
          display: block;
          color: inherit;
          border: none;
          background-color: transparent;
          &:hover {
            color: #000;
          }
        }        
        div {
          display: flex;
          justify-content: space-between;
          span {
            width: 50%;
          }
        }
        display: flex;
        flex-direction: column;
        // color: red;
        padding: 10px;
        border-radius: 7px;
        border: 0px solid #ccc;
        background-color: $color;
        border: $border;
        legend {
          text-align: center;
          // font-size: 16px;
          background-color: $color;
          padding: 5px;
          border: $border;
          border-radius: 5px;
          letter-spacing: 1px;
        }
        input {
          margin: 5px 0;
          color: #333;
          background-color: #fff;
        }
        input[disabled] {
          // color: red;
          border: 0px solid;
        }
      }
    }
  }
}
::placeholder {
  color: rgb(139, 139, 139);
  font-style: italic;
}

.select {
  padding: 7px;
  margin: 5px 0;
  background-color: rgba(230, 207, 248, 0.507);
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  
  option {
    text-align: center;
  }
}

#user  section  form#update {
   button {
    display: inline-block;
  }
   span {
    font-style: italic;
    float: right;
    color: rgb(241, 124, 124);
    &:after {
      content: ' ';
      white-space: pre;
    }
  }
}


tr .item {
  font-size: 16px;
}
tr td .description {
  color: rgb(114, 113, 113);
}
i.material-icons {
  cursor: pointer;
  &.home {
    font-size: 120px;
    color: rgb(113, 199, 228);
  }
  &.button {
    font-size: 30px;
    color: #333;
    vertical-align: middle;
    &:hover, &:focus {
      color:#000;
    }
  }
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #616463;
  text-decoration: none;
}
a.bill {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: rgb(231, 230, 230);
  display: inline-block;
  text-align: center;
  width: 40px;
  &:hover {
    background-color: #fff;
  }
}
a.onebill {
  background-color: rgb(26, 24, 24);
  width: 40px;
  display: inline-block;
  text-align: center;
  color: #fff;
  margin: 0 30px;
  padding: 5px 0px;
  border-radius: 50%;
  // border: 1px solid rgb(189, 187, 187);
  &:hover {
    background-color: #fff;
    color: #000;
    transition: .2s;
  }
}
span.total {
  font:  bold 16px Courier;
  margin-left: 10px;
}
th {
  padding: 5px;
}
td button.add {
  float:right;
  background-color: #fff;
  padding: 2px 7px;
  border-radius: 5px;
  border: 1px solid rgb(175, 175, 175);
  outline: none;
  &:hover {
    background-color: rgb(211, 209, 209);
  }
}
a .material-icons {
  &:hover {
    color: rgb(78, 78, 226);
  }
}
a .cloud {
  color: rgb(197, 132, 10);
  &:hover {
    color: rgb(230, 161, 32);
  }
}
td .cloud {
  // color: red;
  font-size: 3em;
}
td.edit {
  cursor: pointer;
  width: 10px;
  border: 2px solid #ddd;
  background-color: rgb(236, 225, 175);
  &:hover {
    border: 2px solid rgb(136, 135, 135);
  }
}
td.order {
  cursor: pointer;
  border: 2px solid #ddd;
  // background-color: #fff;
  &:hover {
    // background-color: #fff;
    border: 2px solid rgb(92, 92, 92);
    transition: .3s;
  }
}
table {
  text-align: left;
  @media (max-width: 600px) {
    width: 100%;
  }
  th {
    height: 40px;
    vertical-align: middle;
    background-color: rgba(124, 124, 124, 0.219);
    // border-bottom: 2px solid #ccc;
  }
  width: 90%;
  margin: 20px auto;
  tr {
    background-color: rgb(206, 206, 206);
    td.bill {
      // background-color: #ddd;
    }
  }
  tr:nth-child(odd) {
    background-color: #ddd;
    td.bill {
      // background-color: rgb(206, 206, 206);
    }
  }
  td {
    padding: 10px;
  }
}
form {
  margin-bottom: 10px;
  input, textarea {
    @include inputs;
  }
}

.modal {
  i {
    &:hover {
      color: red;
    }
  }
  form {
    background-color: #fff;
    border-radius: 5px;
  }
  position: fixed;
  // background-color: #fff;
  // border: 1px solid #000;
  top: 10%;
  width: 90%;
  height: 100%;
  max-width: 400px;
  left: 50%;
  padding: 20px;

  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 102;
}

.modalBg:before {
  content: "";
  position: fixed;
  // display: none;
  background-color: rgba(0,0,0,.7);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 101;
}
.menus {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  a {
    margin: 3px 0;
  }
}

.billSelected {
  display: inline-block;
  margin: 7px 0;
  a {
    @include myButton(rgb(134, 133, 133), rgb(25, 25, 26))
  }
  a.router-link-active.bill {
    @include myButton(rgb(125, 187, 245), rgb(8, 8, 8))
    
  }
}
h2, h3 {
  color: rgb(131, 131, 216)
}
h3 {
  font-weight: normal;
}
.menus {
  margin: 5px;
  a {
    @include myButton(rgb(131, 131, 216), rgb(250, 246, 246));
    padding: 5px 12px;
  }
  a.router-link-active {
    @include myButton(rgb(49, 49, 128), rgb(250, 246, 246));
  }
}
