@import './mixins.scss';
html, body, #app {
  // height: 100%;
}
* {
  transition: .2s;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: flex;
  flex-direction: column;
}

h1, h2 {
  font-weight: normal;
  margin: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}


.modal {
  padding: 120px;
  i {
    &:hover {
      color: red;
    }
  }
  form {
    background-color: #fff;
    border-radius: 5px;
    div {
      padding: 10px;
    }
  }
  position: fixed;
  // background-color: #fff;
  // border: 1px solid #000;
  top: 10%;
  width: 90%;
  height: 100%;
  max-width: 400px;
  left: 50%;
  padding: 20px;

  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 102;
}

.modalBg:before {
  content: "";
  position: fixed;
  // display: none;
  background-color: rgba(0,0,0,.7);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 101;
}

form {
  @include myBorder;
  margin: 10px auto;
  a {
    @include links;
    display: inline-block;
    margin: 5px;
  }

}

::placeholder {
  font-style: italic;
}

i.material-icons {
  color: #666;
  // font-weight: bold;
  font-size: 2.2em;
}
i.action {
  margin-right: 7px;
  // font-weight: bold;
  font-size: 2.2em;
  &:hover {
    cursor: pointer;
    color: #000;
  }
}

.wrapper {
  // flex: 1 0 auto; 
}
.footer {
  // width: 100%;
}
