@mixin myButton ($bg:rgba(60, 255, 0, 0.466), $fc:rgb(11, 11, 12)) {
    color: $fc;
    background-color: $bg;
    border-radius: 5px;
    margin-left: 5px;
}


$color: rgba(209, 209, 209, 0.726);
$border: 1px solid #ddd;
@mixin myFoc {
  background-color: rgba(223, 230, 243, 0.514);
  border: 1px solid rgb(207, 229, 243);
}

@mixin myBorder {
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  padding: 7px;
  &:focus {
    @include myFoc;
  }
}
@mixin links {
  border: $border;
  margin: 5px 0;
  padding: 6px 20px;
  border-radius: 5px;
  background-color: lighten($color, 10%);
  color: #666;
  outline: none;
  transition: .1s;
  cursor: pointer;
  &:hover {
    transition: .1s;
    background-color: #fff;
    border: 1px solid rgb(185, 185, 185);
  }
}
@mixin inputs {
    margin: 3px 0;
    font: 13px Arial;
    padding: 7px;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    &:focus {
      border-color: #999;
      transition: .5s;
    }  
}